@model MyApp.Entity.EntitySignUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/assets/images/mynetwork.ico">
    <title>My Own Research</title>
    <!--Styles-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<body class="login_page">
    <div class="row">
        <!--Left Section-->
        <div class="col-lg-7 col-md-12 login_bg">
            <img src="~/images/assets/images/login_bg.png" alt="login" class="w-100">
        </div>
        <!--Right Section-->
        <div class="col-lg-5 col-md-12 login_form">
            <form action="/Login/login" method="post">
                <div class="brand_logo">
                    <svg id="my_network" data-name="my_network" xmlns="http://www.w3.org/2000/svg" width="45"
                         height="60" viewBox="0 0 42.325 65.388">
                        <path id="Path_1169" data-name="Path 1169"
                              d="M305.745,140.427h18.9a1.73,1.73,0,0,1,1.725,1.725h0a1.73,1.73,0,0,1-1.725,1.724h-18.9a1.729,1.729,0,0,1-1.725-1.724h0a1.729,1.729,0,0,1,1.725-1.725m4.821,6.29h9.262a1.73,1.73,0,0,1,1.725,1.724h0a1.73,1.73,0,0,1-1.725,1.725h-9.262a1.729,1.729,0,0,1-1.724-1.725h0A1.729,1.729,0,0,1,310.565,146.717Z"
                              transform="translate(-294.034 -84.778)" fill="#2D3C59" fill-rule="evenodd" />
                        <path id="Path_1170" data-name="Path 1170"
                              d="M315.1,86.976a13.348,13.348,0,0,0,3.067-1.575,2.076,2.076,0,0,0,.872-2.351,3.286,3.286,0,0,0-1.054-1.647,1.375,1.375,0,0,0-1.1-.406c-.439.108-.881.675-1.209,1.939a23.019,23.019,0,0,0-.572,4.041m-9.888,0a22.949,22.949,0,0,0-.572-4.041c-.328-1.264-.77-1.831-1.209-1.939a1.375,1.375,0,0,0-1.1.406,3.289,3.289,0,0,0-1.053,1.647,2.076,2.076,0,0,0,.871,2.351A13.347,13.347,0,0,0,305.213,86.976Zm8.159,22.529h-6.43a186.045,186.045,0,0,0,1.086-19.092,17.459,17.459,0,0,0,4.258,0A186.061,186.061,0,0,0,313.372,109.505Zm7.449-2.948.006.006.009.009.014.015.006.006.009.009.029.031.013.016.005.005.009.01.013.015,0,.006.009.011.013.017,0,.005.009.011.013.016,0,.006.008.011.013.017.013.017.011.017,0,0,.008.013.013.017,0,0,.008.013.011.017.01.018.011.019,0,0,.008.013,0,.006.016.031.01.019,0,0,.007.014.009.019,0,0,.007.014.009.019,0,0,.007.015.009.019v0l.006.015.008.02,0,0,.006.017.008.019v0l.006.016.007.021v0l.005.017.007.02v0l.005.018.006.02v0l.005.017.006.021v0l0,.019,0,.021v0l0,.018,0,.021v0l0,.019,0,.021v0l0,.019,0,.021v0l0,.019,0,.022v0l0,.02,0,.021h0l0,.021,0,.022h0l0,.044h0v.043h0v.045h0a1.729,1.729,0,0,1-1.725,1.723h-3.515a182.252,182.252,0,0,1-1.112-19.645,16.269,16.269,0,0,0,4.721-2.234,4.647,4.647,0,0,0,1.951-5.265,6.055,6.055,0,0,0-1.943-3.045,3.975,3.975,0,0,0-3.475-.946c-1.348.331-2.557,1.5-3.179,3.887a28.4,28.4,0,0,0-.691,5.409,14.887,14.887,0,0,1-4.418,0,28.356,28.356,0,0,0-.691-5.409c-.622-2.392-1.831-3.556-3.179-3.887a3.977,3.977,0,0,0-3.476.946,6.06,6.06,0,0,0-1.943,3.045,4.648,4.648,0,0,0,1.951,5.265,16.271,16.271,0,0,0,4.722,2.234,182.3,182.3,0,0,1-1.111,19.645h-3.515a1.729,1.729,0,0,1-1.725-1.723h0v-.045h0v-.043h0l0-.044h0l0-.022,0-.021h0l0-.021,0-.02v0l0-.022,0-.019v0l0-.021,0-.019v0l0-.021,0-.019v0l0-.021,0-.018v0l.005-.021,0-.019v0l.006-.021,0-.017v0l.006-.02.005-.018v0l.007-.02.006-.017v0l.007-.021.006-.016v0l.007-.019.007-.017v0l.008-.02.007-.015v0l.009-.019.007-.015,0,0,.009-.019.007-.014,0,0,.009-.019.007-.014,0,0,.01-.019.017-.031,0-.006.008-.013,0,0,.011-.019.011-.018.011-.017.008-.013,0,0,.012-.017.008-.013,0,0,.011-.017.012-.017.013-.017.008-.011,0-.006.013-.016.009-.011,0-.005.013-.017.009-.011,0-.006.014-.015.009-.01,0-.005.014-.016.028-.031.009-.009.005-.006.015-.015.009-.009.006-.006a1.72,1.72,0,0,1,1.212-.5h-.218c.459-12.877-11.493-14.8-11.493-28.2a21.162,21.162,0,1,1,42.325,0c0,13.395-11.951,15.319-11.493,28.2h-.217A1.719,1.719,0,0,1,320.821,106.557Z"
                              transform="translate(-288.995 -56.697)" fill="#2D3C59" fill-rule="evenodd" />
                    </svg>
                    <h3>My Own Research</h3>
                </div>
                <div class="login_submit">
                    <div class="modal fade" id="forgot_password" tabindex="-1" aria-labelledby="sharemodallabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-md">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="text-end">
                                        <a href="#" data-bs-dismiss="modal" aria-label="Close">
                                            <img src="~/images/assets/images/close_icon.svg"
                                                 alt="close">
                                        </a>
                                    </div>
                                    <div class="m-4">
                                        <h6>FORGOT PASSWORD</h6>
                                        <input type="email" id="forEmail" class="form-control" placeholder="Enter Email">
                                        <div class="btn-end">
                                            <button type="button" class="btn btn-priam active" id="btnClosePopup" onclick="btnForgot()">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input_fields">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>@TempData["AlertMessage"]</strong>
                        </div>
                    }
                    @if (TempData["AlertMessages"] != null)
                    {
                        <div class="alert alert-danger">
                            <strong>@TempData["AlertMessages"]</strong>
                        </div>
                    }
                    @if (TempData["verify"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>@TempData["verify"]</strong>
                        </div>
                    }
                    <div>
                        <label for="username" class="form-label">Email</label>
                        <input type="text" name="strEmail" class="form-control" placeholder="Enter Email" value="">
                        @Html.ValidationMessageFor(a => a.email, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="strPassword" class="form-control" placeholder="Enter Password" value="">
                        @Html.ValidationMessageFor(a => a.password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="login_submit">
                    <input type="submit" value="Login" class="btn btn-priam active col-3" />
                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgot_password">Forgot Password</a>
                    @*<input type="submit" value="Sign Up"/>*@
                    <a class="btn-send" href="~/Login/signUp">Sign Up</a>
                </div>
            </form>
        </div>
    </div>

    <!-- scripts  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("#btnClosePopup").click(function () {
                $("#forgot_password").modal("hide")
            });
        });
        function btnForgot() {
            var forEmail = $('#forEmail').val();
            $.ajax({
                url: "/Login/forgotPass",
                dataType: 'JSON',
                data: { 'forEmail': forEmail },
                method: "POST",
                success: function (data) {
                    $('#forEmail').val('');
                    alert(data.pri);
                },
                error: function (err) {
                    console.error(err);
                }
            })
        }
    </script>

</body>

</html>